* {
  background:       #242d3396;
  foreground:       #CAD3F5FF;
  accent:           #607786a4;
  background-tb:    #494D64FF;
  border-tb:        #363A4FFF;
  selected:         linear-gradient(to right, #555b75ff, #e9ebff3f);
  button:           linear-gradient(#939AB7FF);
  button-selected:  linear-gradient(#B7BDF869);
  active:           linear-gradient(to right, #8BD5CAFF, #A6DA95FF);
  urgent:           #ED8796FF;
}
